<a href="https://colab.research.google.com/github/Asuskf/salta_2022/blob/main/colab/python_salta_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.7.1" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia BenchmarkTools Plots"
JULIA_PACKAGES_IF_GPU="CUDA" # or CuArrays for older Julia versions
JULIA_NUM_THREADS=2
#---------------------------------------------------#

if [ -n "$COLAB_GPU" ] && [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  if [ "$COLAB_GPU" = "1" ]; then
      JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia  

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

Installing Julia 1.7.1 on the current Colab Runtime...
2022-09-18 15:13:58 URL:https://storage.googleapis.com/julialang2/bin/linux/x64/1.7/julia-1.7.1-linux-x86_64.tar.gz [123374573/123374573] -> "/tmp/julia.tar.gz" [1]
Installing Julia package IJulia...
Installing Julia package BenchmarkTools...
Installing Julia package Plots...
Installing IJulia kernel...
[ Info: Installing julia kernelspec in /root/.local/share/jupyter/kernels/julia-1.7

Successfully installed julia version 1.7.1!
Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then
jump to the 'Checking the Installation' section.

In [ ]:
pip install julia

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting julia
  Downloading julia-0.5.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 2.8 MB/s
Installing collected packages: julia
Successfully installed julia-0.5.7

In [ ]:
import julia
from julia.api import Julia
julia.install()
jl = Julia(compiled_modules=False)
j = julia.Julia()

Precompiling PyCall...
Precompiling PyCall... DONE
PyCall is installed and built successfully.

In [ ]:
%reload_ext julia.magic
print(j.eval("sqrt(1 +31)"))
print(j.sind(90))

Initializing Julia interpreter. This may take some time...
5.656854249492381
1.0

/usr/local/lib/python3.7/dist-packages/julia/core.py:707: FutureWarning: Accessing `Julia().<name>` to obtain Julia objects is deprecated.  Use `from julia import Main; Main.<name>` or `jl = Julia(); jl.eval('<name>')`.
  FutureWarning,

Si hubiéramos empezado a contar segundos a partir de las 12 campanadas que marcan el inicio de 2018, ¿a qué hora de qué día de qué año llegaríamos a los 250 millones de segundos? ¡Cuidado con los años bisiestos!

In [ ]:
%%R
start_time <- as.POSIXlt("2018-01-01 00:00:00", format="%Y-%m-%d  %H:%M")
start_time + 250000000

[1] "2025-12-03 12:26:40 UTC"

In [ ]:
#Julia
from julia import Main
julia_array = Main.rand(3)

In [ ]:
#R
import rpy2.robjects.packages as packages
datasets = packages.importr('datasets')
r_mtcars = packages.data(datasets).fetch('mtcars')['mtcars']

In [ ]:
#Python
import pandas as pd 
python_covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv')

In [ ]:
julia_array

array([0.6836092 , 0.88884956, 0.88049009])

In [ ]:
r_mtcars

<rpy2.robjects.vectors.DataFrame object at 0x7f5fb6c776e0> [RTYPES.VECSXP]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6c97e10> [RTYPES.REALSXP]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000, 21.400000, ..., 15.800000, 19.700000, 15.000000, 21.400000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6815320> [RTYPES.REALSXP]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000, 6.000000, ..., 8.000000, 6.000000, 8.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb68156e0> [RTYPES.REALSXP]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000, 258.000000, ..., 351.000000, 145.000000, 301.000000, 121.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6815aa0> [RTYPES.REALSXP]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000, 110.000000, ..., 264.000000, 175.000000, 335.000000, 109.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6815e60> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6818280> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6818640> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000, 3.000000, ..., 5.000000, 5.000000, 5.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f5fb6818a00> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000, 1.000000, ..., 4.000000, 6.000000, 8.000000, 2.000000]

In [ ]:
python_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,NaN,Jersey,49.1900,-2.1100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
497,NaN,Puerto Rico,18.2000,-66.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
498,NaN,Republic of the Congo,-1.4400,15.5560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
499,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
500,NaN,The Gambia,13.4667,-16.6000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0